body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    gap: 120px;
    list-style: none;
}

.contrainer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 130px 10px 95px;
}

.top {
    background-color: rgb(204, 165, 93);
    color: white;
}

.top-con {
    padding: 7px 130px 7px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    gap: 20px;
}

.fonts1 {
    font-family: "Lexend Deca", sans-serif;
}

.fonts2 {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
/*Tamaño de la imagen*/

.foto {
    width: 25px;
    height: 25px;
}
/*Mail*/

.mail {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*Text*/

.mensaje {
    display: block;

}

textarea {
    resize: none;
}

/*Footer*/
.email-link {
    color: white;
    text-decoration: none;
}

.footer-cont {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    letter-spacing: 2px;
}

.footer-cont-total {
    padding: 10px;
}