body {
    background-color: rgb(18, 33, 119);
    padding: 0;
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* .contrainer {
    width: 1800px;
} */

main {
    background-image: url(img2/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titol {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 360px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

p {
    padding: 0;
    margin: 0;
}

/*Tamaño de LOGO*/

.logo {
    width: 410px;
    height: 110px;
}


/*Tamaño de la imagen*/

.imagen {
    width: 25px;
    height: 25px;
}


/*                         1. Config de header                                */


/*1. Banner*/

.banner {
    background-color: #006280;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 150px 10px 150px;
}

/*1.1 Navegador*/

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 150px 10px 80px;
}

/*1.2 Config de la Lista*/

ul {
    display: flex;
    gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*1.3 Config de los contenidos de la lista*/

nav li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

nav p {
    padding-top: 3px;
}

/*1.4 Config de enlance*/

nav a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}


.socials {
    display: flex;
    gap: 20px;
}

.idioma {
    display: flex;
    align-items: center;
    gap: 7px;
}

select {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.frase-idioma {
    display: flex;
    gap: 40px;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buscar-input {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 7px 5px 7px;
}

.buscar img {
    padding-top: 3px;
}

.comprar {
    display: inline-block;
    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 7px 27px 3px 27px
}

.com-bus {
    display: flex;
    gap: 50px;
}


footer {
    background-color: #006280;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

