body {
    margin: 0;
    padding: 0;
}


ul {
    display: flex;
    gap: 120px;
    list-style: none;
}

.contrainer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 130px 10px 95px;
}

main {
    background-image: url(img/123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.titol {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

.es-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
}

.contin {
    margin-left: 3px;
}

.top {
    background-color: rgb(204, 165, 93);
    color: white;
}

.top-con {
    padding: 7px 130px 7px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    gap: 20px;
}

.fonts1 {
    font-family: "Lexend Deca", sans-serif;
}

.fonts2 {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: rgb(255, 125, 19);
}

footer {
    background-color: rgb(204, 165, 93);
}

body {
    display: flex;
    flex-direction: column;
}