body {
    margin: 0;
    padding: 0;
}


ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.contrainer-header {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

main {
    background-image: url(img/123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.titol {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

.es-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 350px;
}

.contin {
    margin-left: 3px;
}
